@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.alert-container .col-12 {
    padding: 0;
}

/* Content container */

.content-container {
    padding: 75px 0px;
}

.container-wrapper {}

.container-wrapper--red {
    background: #f05f40;
    color: white;
}

.site-wide-alert {
    border-radius: 0;
    margin: 0;
    padding: 5px 15px;
    background-color: #eec802;
    border-color: #eec802;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background: rgba(0,0,0,0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav a {
    font-weight: bold;
}

.callout-container {
    height: 100vh;
    background: grey url(../images/whiskey-background.jpg) bottom right / cover no-repeat fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

.quotes-container {}

.features-container {}

.monthlyfav-container {}

/* Page headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.quotes .page-header {
    margin-bottom: 25px;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0; 
    background: #444;   
}

.block-divider--orange {
    background: #f05f40;
}

.block-divider--white {
    background: white;
}

.block-divider--short {
    width: 35px;
}

/* jumbotron-header */

.jumbotron {
    background: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #a7a7a7;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background: #f05f40;
    border: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background: #df4929;
    border: #df4929;    
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 20px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}